.gallery {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  justify-content: center;

  &__left-button,
  &__right-button {
    width: 8%;
    display: block;
    background-color: #e2dace;
    border: 2px solid #e2dace;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: transparent;
      cursor: pointer;
      border-color: #ccc;
    }
  }

  &__left-button {
    background-image: url("../../assets/icon/arrow-left.svg");

    &:hover {
      background-image: url("../../assets/icon/arrow-left-gray.svg");
    }
  }

  &__right-button {
    background-image: url("../../assets/icon/arrow-right.svg");

    &:hover {
      background-image: url("../../assets/icon/arrow-right-gray.svg");
    }
  }

  &__content {
    width: 70%;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
    height: calc(100% + 18px);

    &__wrap {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      align-content: space-around;

      .row {
        display: flex;
        flex-direction: row;
        height: 180px;

        &:first-child {
          margin-bottom: 22px;
        }
      }
    }
  }
}
