.gallery {
	width: 50%;
	display: flex;
	flex-direction: row;
	padding: 15px 0;
    justify-content: center;
    
    &__left-button, &__right-button {
        width: 8%;
        display: block;
        background-color: #ccc;
    }

    &__content {
        width: 70%;
        display: block;
        overflow-x: hidden;
        position: relative;
        margin: 0 20px;

        &__wrap {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            align-content: space-around;
            height: 100%;

            .row {
                display: flex;
                flex-direction: row;
                height: 180px;

                &:first-child {
                    margin-bottom: 22px;
                }
            }
        }
    }
}