.photo {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &:hover {
    background-color: #000;

    img {
      opacity: 0.8;
    }
  }
}
