.photo {
  height: 100%;
	margin: 0 12px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: .2s;
  
  img {
    width: auto;
    height: 100%;
    transition: .2s;
  }

  &:hover {
    background-color: #000;

    img {
      opacity: 0.8;
    }
  }
}
